node_modules
.env
.env.local
.env.*
!.env.example
!.env.local.example
!.env.development.example
!.env.staging.example
!.env.production.example
!.env.prod.example
!.env.development
!.env.test
!.env.production
/services/db/data/
/services/db/secrets/
/services/api/secrets/
.DS_Store
.dist
.next
.expo
dist
build
coverage
*.log
.vscode-server
infra/volumes
postgres-data
**/pnpm-lock.yaml.tmp
**/.turbo
**/.cache
